<!-- Modal Exportar Solicitudes -->
<div class="modal fade" id="exportar_solicitudes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
data-backdrop="false">
<div class="modal-dialog modal modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">EXPORTAR SOLICITUDES</h5>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps
                  to a new line.</small>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary no-redondo" data-dismiss="modal">CERRAR</button>
      <button type="submit" class="btn btn-primary no-redondo">ACEPTAR</button>
    </div>
  </div>
</div>
</div>
<!-- Modal Exportar Solicitudes -->
