 <!-- Funcionalidades de búsqueda -->
 <form class="form-inline">
  <input class="form-control mr-sm-2 col-md-8 no-redondo" type="search" placeholder="Buscar por nombre, tipo y estado" aria-label="Search">
  <button class="btn btn-outline-primary my-2 my-sm-0 no-redondo" type="submit">Buscar</button>
  <button class="btn btn-secondary ml-2 no-redondo" type="button" data-toggle="collapse" data-target="#filtros" aria-expanded="false"
      aria-controls="collapseExample">
      <i class="fas fa-filter mr-1"></i>Filtros
  </button>
</form>
<!-- Funcionalidades de búsqueda -->

<!-- Filtros para búsqueda avanzada -->
<div class="col-md-12 my-2 collapse sin-rellenos" id="filtros">
  <div class="card card-body no-redondo">
      Filtros avanzados para búsqueda
  </div>
</div>
<!-- Filtros para búsqueda avanzada -->
